body.active-modal {
  overflow-y: hidden;
}

.pkgContainer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  justify-content: center;
  align-items: space-between;
  z-index: 2000;
}

.closeBtnContainer {
  width: 75vw;
  display: flex;
  justify-content: flex-end;
}

.sponsorlink {
  font-size: 1.1rem;
  margin-top: 0;
  color: white;
  font-family: 'Josefin Sans';
  flex-basis: 100%;
}

.pdfContainer {
  border-radius: 10px;
  overflow: hidden;
  flex-basis: 100%;
}

.pdf {
  /* width: 75vw; */
  height: 70vh;
  aspect-ratio: 16 / 9;
  border: none;
}

@media only screen and (max-width: 1000px) {
  .pdfContainer {
    width: 90%;
    height: 90%;
  }
  .pdf {
    width: 75vw;
    height: 65svh;
    aspect-ratio: 16 / 30;
  }
}
